# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*$py.class


# ============================================================
# Virtual Environment
# ============================================================

.icg/
.venv/
venv/
env/


# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/


# ============================================================
# Dataset
# ============================================================

# Do not upload the 8,091 images
data/Images/

# Do not upload dataset archives
data/*.zip


# ============================================================
# Trained Models & Generated Model Artifacts
# ============================================================

models/*.h5
models/*.keras
models/*.pkl
models/*.pickle
models/*.weights.h5


# ============================================================
# OS Files
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# Logs
# ============================================================

*.log


# ============================================================
# Streamlit Secrets
# ============================================================

.streamlit/secrets.toml